@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    /*--=============== FONT usada ===============--*/
    --font-family: 'Poppins', sans-serif;
    /*--=============== Colores ===============--*/
    --m-dark: #240250;
    --m-mid: #7131FF;
    --gold: #FFB800;
    --lila: #A661FF;
    --tifani: #14E9BA;
    --white: #EAF4F5;
    --whitetwo: #e9ebee;
    --orange: #fe5000;
    /*--=============== Extras ===============--*/
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --header-height: 3.5rem;
    /*--=============== Font Weight ===============--*/
    --font-regular: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    /*--=============== z index ===============--*/
    --z-tooltip: 10;
    --z-fixed: 100;
} 
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body{
    margin-left: 80px;
    margin-top: 65px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: var(--whitetwo);
}

/*--=============== TABLA PARA CAJA ===============--*/


/*--=============== TABLA PARA CAJA ===============--*/

/*--=============== CRUD CONTAINER ===============--*/

.container-crud  {
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

h1{
    text-align: center;
    margin-top: -40px;
}
/*--=============== CRUD  ===============--*/


/* Estilos del contenedor CRUD */
.crud-container {
    margin: 2.5rem;
    background-color: #fafafa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 65%;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 5px;

}
/* Estilos para filas pares */
.crud-table-inner tbody tr:nth-child(even) {
    background-color: #dedfe1; 
    color: black;
}

/* Estilos para filas impares */
.crud-table-inner tbody tr:nth-child(odd) {
    background-color: #f4f4f4; 
}



/* Estilos de la tabla CRUD */
.crud-table {
    width: 100%;
    border-radius: 10px; 
    overflow: hidden; /* Asegura que las esquinas redondeadas se muestren correctamente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.343); 
}


/* Estilos de las filas y celdas de la tabla CRUD */
.crud-table-inner {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.crud-header-row th,
.crud-table-inner td {
    padding: 10px;
    text-align: center;
    
}


/* Estilos de la cabecera de la tabla CRUD */
.crud-header-row th {
    color: #fff;
    background-color: var(--m-dark);
    border-color: var(--whitetwo);
}

/* Estilos de las acciones (editar, eliminar) en la tabla CRUD */
.crud-actions {
    display: flex;
    justify-content: space-around;
}

/*--=============== CRUD TWO ===============--*/
.crud-container-stock{
    margin: 2.5rem;
    background-color: #fafafa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 0px;
    margin-left: 6vh;
}

/* Estilos del contenedor del formulario CRUD */
.crud-container-two{
    margin: 2.5rem;
    background-color: #fafafa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    max-height: 700px;
    margin-top: 5px;

}
.stock-place {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.crud-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
}

.crud-form input,
.crud-form textarea, select {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.221);
    font-size: 16px;
}



.crud-header h2{
    text-align: center;
}
